/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pre-R';
    src: local('Pre-R'),
    url('shared/assets/fonts/Pretendard/Pretendard-Regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Pre-S';
    src: local('Pre-S'),
    url('shared/assets/fonts/Pretendard/Pretendard-SemiBold.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Bayon';
    src: local('Bayon'),
    url('shared/assets/fonts/Bayon/Bayon-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Pretendard-Black';
    src: local('Pretendard-Black'),
    url('shared/assets/fonts/Pretendard/Pretendard-Black.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Pretendard-Thin';
    src: local('Pretendard-Thin'),
    url('shared/assets/fonts/Pretendard/Pretendard-Thin.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: local('Pretendard-Medium'),
    url('shared/assets/fonts/Pretendard/Pretendard-Medium.woff');
    font-weight: 400;
}